<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bot</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='style.css') }}"
      media="screen"
    />
  </head>
  <body>
    <div class="box">
      <!-- <h2></h2> -->

      <div class="title">
        <span>Z</span>
        <span>A</span>
        <span>R</span>
        <span>G</span>
        <span>A</span>
        <span>R</span>
        <span>I</span>
      </div>
      <img
        src="https://github.com/Baamshi/Zargari-Translator/blob/master/templates/icon.png?raw=true"
        height="200px"
        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
        alt="telegram"
      />
      <a href="https://t.me/zargaritranslatorbot">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Go to BOT
      </a>
    </div>
  </body>
</html>
